<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="../styles/index.css">
  <title>Team Moss</title>
</head>

<body>
  <main class="hero">
    <header class="hero-head has-background-warning p-6">
      <p class="title  has-text-link has-text-centered">
        ☎️ Hot Tip Hotline ☎️
      </p>
      <p class="subtitle has-text-centered has-text-danger">
        🔥🔥 Call now to get THE HOTTEST Tips around🔥🔥
      </p>
    </header>
    <div class="hero-body">
      <div class="has-text-left-mobile">
        <div class="field">
           <label class="label">Select Tipper</label>
           <div class="control">
             <div class="select">
               <select>
               <option>Select</option>
               <option>Don</option>
               <option>Prue</option>
               <option>Karel</option>
               <option>Lache</option>
               </select>
             </div>
           </div>
           <label class="checkbox">
             <input type="checkbox">
             Random Tips
           </label>
         </div>
         <div>☎️ 0800 <a class="button is-danger">CALL</a></div>
         
    </div>
  </main>
</body>

</html>