<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <title>Team Moss</title>
</head>
<body>
  <header>
    <h1>☎️ Hot Tip Hotline ☎️</h1>
  </header>
  <div class="control">
    <div class="select">
      <select>
        <option>Select Tipper</option>
        <option>Don</option>
        <option>Prue</option>
        <option>Karel</option>
        <option>Lache</option>
      </select>
    </div>
  </div>

  <label class="checkbox">
    <input type="checkbox">
    Random Tips
  </label>

  <div>☎️ 0800 </div>
  <a class="button is-danger">CALL</a>
</body>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Team Moss</strong> by <a>James, Koko, Josh and Ahmad</a>.
    </p>
  </div>
</footer>
</html>